@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');


/* ESTILOS GENERALES DEL SITIO */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    font-family: 'Raleway', sans-serif;
}

.material-symbols-outlined {
    color: white;
}

.container {
    width: 90%;
    max-width: 1280px;
    margin: auto;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

/* textos */

h2 {
    text-transform: uppercase;
    font-size: 3em;
    padding: 1em 0 0.6em 0;
    color: white;
    letter-spacing: 0.1em;
}

.nota {
    font-size: 0.8em;
    font-weight: 300;
}

/* botones */

.bt-primary {
    border: white solid 1px;
    border-radius: 0.4em;
    padding: 0.5em 1em;
    margin-bottom: 4em;
    background-color: transparent;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    width: fit-content;
    align-self: flex-end;
}

.bt-primary a {
    color: white;
    text-decoration: none;
}

.bt-primary:hover {
    background-color: rgba(255, 255, 255, 0.151);
    cursor: pointer;
}

/* VARIABLES */

:root {
    --gray: #252525;
    --orange: #E96A4E;
    --yellow: #F7D47F;
    --pink: #FA85A1;
    --blue: #4F80F5;
    --purple: #735CE0;
    --red: #E42E46;
}

:root {
    --gradient: linear-gradient(15deg,
            var(--orange),
            var(--pink),
            var(--orange),
            var(--red));
}

/* HOME - header */

header {
    background-color: var(--gray);
}

header img {
    height: 40px;
    margin: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
}

nav div {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a {
    color: white;
    text-decoration: none;
}

#icon-menu {
    display: none;
}

#s-hero {
    height: 90vh;
    background-image: var(--gradient);
    background-size: 300%;
    animation: hero-animation 800s infinite alternate;
}

/* HOME - MAIN - NOTICIAS */

#s-news {
    background-color: var(--gray);
}

.grid-news {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2%;
    padding-bottom: 4em;
}

#s-news article:first-of-type {
    grid-column: span 2;
}

#s-news article {
    color: white;
}

#s-news article img, #div-noticias article img {
    width: 100%;
    border-radius: 0.4em;
    height: 70%;
    object-fit: cover;
}

h4 {
    text-transform: uppercase;
    font-weight: 600;
    padding: 0.6em 0 0.4em 0;
}

/* HOME - MAIN - SHOWS */




/* HOME - MAIN - DISCOGRAFIA */

#s-dis h2 {
    color: var(--gray);
}

.grid-disc {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2%;
    padding-bottom: 4em;
}

.grid-disc article {
    text-align: center;
    height: fit-content;
}

.grid-disc article img {
    width: 100%;
    border-radius: 0.4em;
}

h5 {
    font-size: 1em;
    text-transform: uppercase;
    margin: 0.6em 0 0.4em 0;
}

.fecha-disco {
    font-size: 0.8em;
}

#s-dis .bt-primary {
    border: var(--blue) solid 1px;
}

#s-dis .bt-primary a,
#s-dis .bt-primary .material-symbols-outlined {
    color: var(--blue);
}

#s-dis .bt-primary:hover {
    background-color: #4f81f54a;
}

/* Página DISCOGRAFÍA */
#video-discografia {
    width: 100%;
    height: 70vh;
}


/* HOME - MAIN - FORM */

#s-form {
    background-image: linear-gradient(15deg, var(--orange), var(--purple));
}

#s-form h2 {
    padding-top: 0.4em;
}

#s-form p {
    color: white;
    font-size: 1.2em;
    font-weight: 500;
    padding-top: 4em;
}

input[type=text],
input[type=password] {
    border: none;
    border-bottom: white solid 1.2px;
    outline: none;
    background-color: transparent;
    width: 80%;
    height: 3em;
    margin-bottom: 2em;
}

#form-newsletter input::placeholder,
#form-newsletter input[type=text] {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
}

#form-newsletter label {
    color: white;
    font-size: 0.8em;
}

#form-newsletter div {
    margin-bottom: 1.8em;
}

#form-newsletter button {
    color: white;
    align-self: flex-start;
}

#form-newsletter {
    width: 60%;
}

.container-form>div {
    width: 40%;
    text-align: center;
}

.container-form img {
    width: 50%;

}


/* FOOTER */

footer {
    background-color: var(--gray);
}

footer div {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 3em 0 1em 0;
}

footer img {
    width: 2em;
    color: white;
    margin: 0 1em;
}

footer p {
    color: white;
    font-size: 0.7em;
    text-align: center;
    padding-bottom: 4em;
    font-weight: 200;
}


/* Página BIO */

#slider-news img {
    height: 80vh;
    width: 100%;
    object-fit: cover;
}

#info-bio>p {
    width: 80%;
    margin: auto;
}

#fotos-equipo {
    display: flex;
    justify-content: space-between;
}

#fotos-equipo img {
    width: 15%;
}

#fondo-bio {
    background-image: url(img/bio/fondo.png);
}

/* Página NOTICIAS */

#div-noticias{
    width: 90%;
}

/* PAGINA SHOWS */

#s-shows,
#shows {
    background-image: linear-gradient(var(--yellow), var(--orange));
    background-size: 160%;
}

#filtro-shows {
    margin-bottom: 1em;
}

.filtro-radio {
    display: none;
}

.filtro-label {
    display: inline-block;
    padding: 0.8em 1em;
    margin-right: 1em;
    border: 1px solid var(--gray);
    border-radius: 0.6em;
    cursor: pointer;
    transition: 0.3s;
    color: var(--gray);

}

.filtro-radio:checked+.filtro-label {
    background-color: var(--gray);
    color: white;
}

.filtro-label:hover {
    background-color: var(--orange);
}

table {
    border-collapse: collapse;
    margin-bottom: 4em;
}

#s-shows tr,
#tabla-shows tr {
    height: 3em;
    border-bottom: var(--gray) solid 1px;
}

#s-shows th,
#tabla-shows th {
    text-align: start;
}

td,
#tabla-shows td {
    font-weight: 600;
    color: var(--gray);
    text-align: start;
}

.bt-tabla {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--gray);
    text-transform: uppercase;
    padding-right: 0.4em;
}

.bt-tabla .material-symbols-outlined {
    color: var(--gray);
    margin-left: 0.4em;
}

.bt-tabla:hover {
    color: #25252597;
}

/* ventana modal kuartito */
.fondo-modal {
    width: 100%;
    height: 100vh;
    background-color: #25252584;
    position: fixed;
    top: 0;
    left: 0;
}

#container-modal {
    background-color: var(--gray);
    width: 50%;
    height: fit-content;
    padding: 1em 2em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.ocultar {
    display: none;
}

.mostrar-modal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cerrar-modal {
    border: none;
    background-color: transparent;
    color: white;
    width: fit-content;
    align-self: flex-end;
    font-size: 1.4em;
    cursor: pointer;
}

#form-kuartito label {
    color: white;
}

#form-kuartito input::placeholder {
    font-size: 0.8em;
    font-family: 'Raleway', sans-serif;
    color: white;
}

#bt-acceder {
    margin-bottom: 1em;
    color: white;
}



/* USUARIO - Log In & Sign Up */

#user-icon {
    cursor: pointer;
}

#contenedor-user {
    background-color: #252525;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#contenedor-user h1 {
    color: #E96A4E;
    text-transform: uppercase;
    margin-bottom: 1em;
}

#form-login,
#form-signup {
    color: white;

    width: 40%;
}

#contenedor-user input[type=text],
#contenedor-user input[type=password] {
    width: 100%;
    color: white;
    font-family: 'Raleway', sans-serif;

}

#bt-login,
#bt-signup {
    align-self: center;
    color: white;
}

.div-checkbox {
    padding: 1em 0;
    color: #ffeae5;
}

#bt-redirigir-login,
#bt-redirigir-signup {
    text-decoration: underline;
    cursor: pointer;
}

#modal-success {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.611);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 3em;
    border-radius: 0.4em;
    text-align: center;
}

#bt-home {
    border: #252525 solid 1px;
    margin-bottom: 0;
    align-self: center;
    margin-top: 1em;
}


/* RESPONSIVE */

@media all and (max-width: 768px) {

    /* estilos grales */
    h2 {
        font-size: 1.4em;
    }

    .bt-primary {
        font-size: 0.6em;
    }

    .material-symbols-outlined {
        font-size: 1.4em;
    }

    /* header */
    header img {
        height: 20px;
    }

    nav div {
        display: none;
    }

    #icon-menu {
        display: block;
    }

    /* section news y discografia */
    #grid-home-news,
    #grid-home-d {
        grid-template-columns: 1fr;
    }

    #s-news article:first-of-type {
        grid-column: span 1;
    }

    #s-news article img {
        height: 12em;
    }

    #s-dis .bt-primary {
        margin-top: 2em;
    }

    /* section shows */
    .bt-tabla p {
        display: none;
    }

    tr {
        font-size: 0.7em;
    }

    tr:first-of-type {
        display: none;
    }

}




/* ANIMACIONES */

@keyframes hero-animation {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
}